<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="base :: * { pageTitle = ${pageTitle}, content = ~{::content} }">
    <th:block th:fragment="content">
        <form th:action="@{/admin/clients}" th:object="${client}" method="post" class="card p-4 shadow-sm">
            <input type="hidden" th:field="*{id}"/>
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Nombre</label>
                    <input class="form-control" th:field="*{firstName}" required>
                    <div class="text-danger small" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Apellido</label>
                    <input class="form-control" th:field="*{lastName}" required>
                    <div class="text-danger small" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Documento</label>
                    <input class="form-control" th:field="*{document}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Activo</label><br>
                    <input type="checkbox" class="form-check-input" th:field="*{active}">
                </div>
            </div>

            <div class="mt-4 d-flex gap-2">
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a class="btn btn-outline-secondary" th:href="@{/admin/clients}">Cancelar</a>
            </div>
        </form>
    </th:block>
</th:block>
</html>
